@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --primary: 16 185 129;
    --primary-dark: 5 150 105;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-family: var(--font-poppins), sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
